.text-centrat {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Khand', sans-serif;
    /* font-weight: bold; */
    /* color: black; */
    z-index: inherit;
    text-align: center;
}

.cerc {
    border-radius: 50%;
}

.rounded-rect {
    border-radius: 20px 20px 20px 20px;
    padding: 1.6vw;
    background-color: aliceblue;
    font-family: 'Khand', sans-serif;
    color: black;
}

a {
    color: #76667d;
}