#cerc-contact {
    position: absolute;
    height: 35vw;
    width: 35vw;
    bottom: -10vw;
    right: -5vw;
    border-radius: 100%;
    background-color: #d222d2;
    z-index: 1;
}

p {
    color: white;
    padding-left: 5vw;
    padding-top: 10vw;
    vertical-align: middle;
    text-align: left;
    font-size: 80%;
    font-family: 'Agency FB Bold', arial;
    z-index: 2;
}

ul {
    list-style: none;
    display: inline;
    position: absolute;
    bottom: 0%;
}

ul li {
    display: inline-block;
    padding: 2px;
}

li img {
    height: 5vw;
}