#cerc-contact {
    position: absolute;
    height: 35vw;
    width: 35vw;
    bottom: -10vw;
    right: -5vw;
    border-radius: 100%;
    background-color: #d222d2;
    z-index: 1;
}

p {
    color: white;
    padding-left: 5vw;
    padding-top: 10vw;
    vertical-align: middle;
    text-align: left;
    font-size: 80%;
    font-family: 'Agency FB Bold', arial;
    z-index: 2;
}

#logouri ul {
    list-style: none;
    display: inline;
    position: absolute;
    z-index: 0;
    border: 0px solid red;
}

#hrefuri ul {
    list-style: none;
    display: inline;
    position: absolute;
    z-index: 0;
    border: 0px solid red;
}

#hrefuri li {
    display: inline-block;
    padding: 2px;
    z-index: inherit;
    margin: 2vw;
}

#logouri li {
    display: inline-block;
    padding: 2px;
    z-index: inherit;
    margin: 2vw;
}

#hrefuri li a {
    font-family: 'Agency FB Bold', arial;
    font-size: 1.5vw;
    text-decoration: none;
    color: black;
}

#hrefuri li a:hover {
    color: #d222d2;
}

li img {
    height: 5vw;
    z-index: inherit;
}

#rotunjit-colturi {
    position: relative;
    flex: 80%;
    height: 20vh;
    background-color: #75667c;
    border-radius: 0% 0% 50% 50%;
    box-shadow: 1vh 1vh 3vh #000000;
}