#hrefuri {
    position: relative;
    display: flex;
    height: 5vh;
    flex: 100%;
    margin-top: 2vh;
    margin-bottom: 2vh;
    background-color: transparent;
}

#hrefuri ul {
    list-style: none;
    position: absolute;
    /* display: inline; */
    z-index: 1;
    border: 0px solid red;
}

#hrefuri li {
    display: inline;
    /* padding: 2vw; */
    z-index: inherit;
    margin: 2vw;
}

#hrefuri li a {
    font-family: 'Agency FB Bold', arial;
    font-size: 1.5vw;
    text-decoration: none;
    color: black;
}

#hrefuri li a:hover {
    color: #d222d2;
}

#logouri {
    position: relative;
    display: flex;
    height: 20vh;
    flex: 100%;
    margin-top: 5vh;
    background-color: #ffffff;
    border: 1px solid red;
}

#logouri ul {
    list-style: none;
    /* display: inline; */
    position: absolute;
    height: 100%;
    padding: 2vh;
    z-index: 0;
    border: 1px solid red;
}

#logouri li {
    display: inline-block;
    padding: 2vw;
    z-index: inherit;
    margin: 2vw;
}

#logouri li img {
    position: absolute;
    display: inline;
    height: 100%;
    z-index: inherit;
}

#rotunjit-colturi {
    position: relative;
    flex: 80%;
    height: 20vh;
    background-color: #75667c;
    border-radius: 0% 0% 50% 50%;
    box-shadow: 1vh 1vh 3vh #000000;
}