#home #background {
    background-color: #df458d;
}

#sponsors #background {
    /* background-color: #d222d2; */
    background-color: #851985;
    /* color: #3b9247; */
}

#hrefuri {
    position: relative;
    display: block;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    margin-top: 2vh;
    margin-bottom: 2vh;
    height: 50%;
    width: 50%;
    background-color: transparent;
    border: 0px solid black;
    z-index: 1;
}

.href-elem {
    position: absolute;
    display: inline-block;
    height: 10vh;
    width: 10vh;
    border-radius: 50%;
    margin: 0;
    border: 0.5vh solid black;
}

#home .href-elem:hover {
    background-color: #e7df68;
}

#sponsors .href-elem:hover {
    /* background-color: #851985; */
    filter: invert(100%);
}

.href-elem img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50%;
    width: 50%;
}

#logouri {
    position: relative;
    display: block;
    top: 0;
    width: 100%;
    margin-top: -3%;
    height: 30%;
    padding: none;
    background-color: transparent;
    z-index: 1;
}

#logouri ul {
    height: 80%;
    list-style: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: inherit;
    border: none;
    vertical-align: middle;
    text-align: center;
}

#logouri ul li {
    height: inherit;
    display: inline;
    margin: 0.2vw;
    vertical-align: middle;
    text-align: center;
}

#logouri ul li a {
    display: inline-block;
    position: relative;
    height: inherit;
    vertical-align: middle;
    text-align: center;
}

#logouri ul li a img {
    position: relative;
    height: inherit;
    margin: 0.2vw;
    vertical-align: middle;
    text-align: center;
}

@media all and (orientation:portrait) {
    #hrefuri {
        position: relative;
        display: block;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0%);
        margin-top: 2vh;
        margin-bottom: 2vh;
        height: 40%;
        width: 100%;
        background-color: transparent;
        border: 0px solid black;
        z-index: 1;
    }
    .href-elem {
        position: absolute;
        display: inline-block;
        height: 7vh;
        width: 7vh;
        border-radius: 50%;
        margin: 0;
        border: 0.3vh solid black;
    }
    #logouri {
        position: relative;
        display: block;
        top: 0;
        width: 100%;
        margin-top: -10%;
        height: 30%;
        padding: none;
        background-color: transparent;
        z-index: 1;
    }
    #logouri ul {
        height: 90%;
        width: 90%;
        list-style: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: inherit;
    }
    #logouri ul li {
        height: inherit;
        display: inline;
        margin: 0;
    }
    #logouri ul li a {
        height: 70%;
    }
    #logouri ul li a img {
        margin: 0;
    }
}


/* @media all and (max-width: 1740px) and (orientation:landscape) {
    #logouri {
        position: relative;
        display: block;
        top: 0;
        width: 100%;
        height: 40%;
        padding: none;
        background-color: transparent;
        z-index: 1;
        margin-top: -3%;
    }
} */


/* @media all and (max-width: 1200px) and (orientation:landscape) {
    #logouri {
        position: relative;
        display: block;
        top: 0;
        width: 100%;
        height: 40%;
        padding: none;
        background-color: transparent;
        z-index: 1;
        margin-top: -5%;
    }
} */