#title {
    position: relative;
    height: 20vh;
    width: 100%;
    background-color: #c071df;
    color: black;
    font-family: 'Agency FB Bold', arial;
    font-size: 18vh;
    text-align: center;
    vertical-align: middle;
}

.franshalssection {
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    /* display: block; */
    /* width: 100vw; */
    /* height: 100vh; */
    background-color: transparent;
    /* border: 2px solid black; */
}

.column {
    /* position: -webkit-sticky; */
    /* position: relative; */
    /* display: flex; */
    top: 0;
    /* top: 0%; */
    /* left: 0%; */
    height: 200vh;
    flex: 40%;
    background-color: #0c4549;
}

.sticky-col {
    position: sticky;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    top: 0;
    display: block;
}

.wrapper {
    position: relative;
    /* display: inline-block; */
    width: 100%;
    background-color: transparent;
}

.row-content {
    position: absolute;
    top: 0%;
    /* right: 0%; */
    height: 100%;
    width: 100%;
    background-color: white;
}