.rotating-content {
    position: relative;
    overflow-x: hidden;
}

.rotate-section {
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: transparent;
    color: white;
}

.rotate-btn {
    position: absolute;
    height: 10%;
    /* width: 7%; */
    width: 100%;
    background-color: transparent;
    z-index: 50;
    filter: invert(70%) sepia(62%) saturate(6015%) hue-rotate(94deg) brightness(121%) contrast(122%);
    -webkit-filter: invert(70%) sepia(62%) saturate(6015%) hue-rotate(94deg) brightness(121%) contrast(122%);
}

.rotate-btn img {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: inherit;
}

.rotate-btn:hover,
.rotate-btn:active {
    cursor: pointer;
    filter: invert(100%);
    -webkit-filter: invert(100%);
}

#btn-prev {
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
}

#btn-next {
    top: 50%;
    right: 0%;
    transform: translate(0%, -50%);
}

.rotate-index {
    position: relative;
    left: 0%;
    width: 100%;
    height: 5vh;
    /* mix-blend-mode: difference; */
}

.rotate-index ul {
    list-style: none;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -30%);
    height: 90%;
    /* width: 13%; */
    /* border: 0px solid blue; */
}

.rotate-index ul li {
    display: inline;
    height: inherit;
    /* opacity: 0.5; */
    filter: invert(100%);
}

.rotate-index ul li img {
    display: inline-block;
    height: inherit;
    margin: 0vh 0.5vw 0vh 0.5vw;
}

@media all and (orientation:portrait) {
    .rotating-content {
        position: relative;
        top: 0px;
        overflow-x: hidden;
    }
    .rotate-section {
        /* position: absolute; */
        position: relative;
        bottom: 0px;
        height: 100vh;
        width: 100%;
        overflow: hidden;
        /* background-color: #009452; */
    }
    .rotate-btn {
        position: absolute;
        height: 60%;
        width: 8%;
        background-image: url(../ute-icons/next.svg);
        background-size: 100% 100%;
        z-index: 50;
    }
    .rotate-btn img {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: inherit;
    }
    .rotate-btn:hover,
    .rotate-btn:active {
        cursor: pointer;
        filter: invert(100%);
        -webkit-filter: invert(100%);
    }
    #btn-prev {
        top: 50%;
        left: 0%;
        transform: translate(0%, -50%) rotate(-180deg);
    }
    #btn-next {
        top: 50%;
        left: 100%;
        transform: translate(-100%, -50%);
    }
    .rotate-index {
        position: relative;
        left: 0%;
        width: 100%;
        height: 4vh;
    }
    .rotate-index ul {
        list-style: none;
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translate(-50%, -30%);
        height: 90%;
        /* width: 13%; */
        /* border: 0px solid blue; */
    }
    .rotate-index ul li {
        display: inline;
        height: inherit;
        opacity: 0.5;
    }
    .rotate-index ul li img {
        display: inline-block;
        height: inherit;
        margin: 0vh 0.5vw 0vh 0.5vw;
    }
    /* .wrapper-title-btn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 20vh;
        font-family: 'Khand', sans-serif; font-weight: bold;
    } */
    .wrapper {
        width: 100%;
        height: 100%;
        position: -webkit-sticky;
        position: -moz-sticky;
        position: -ms-sticky;
        position: -o-sticky;
        position: sticky;
        top: 0;
        display: block;
        overflow: hidden;
        z-index: 15;
    }
    .sect-title {
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, 0%);
        height: 10vh;
        width: 100%;
        background-color: transparent;
        font-size: 10vw;
        font-family: 'Khand', sans-serif;
        font-weight: bold;
        text-decoration: underline;
        text-decoration-color: #00ff16;
        text-decoration-style: dashed;
    }
    .read-more-btn {
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, 0%);
        height: 7vh;
        width: 35vw;
        border: 0.5vh solid #00ff16;
        border-radius: 3vh;
        font-size: 4vw;
        font-family: 'Khand', sans-serif;
        /* font-weight: bold; */
        color: white;
    }
    .read-more-btn:hover {
        cursor: pointer;
        border-color: white;
    }
    .wrapper-sect-content {
        position: absolute;
        top: 100%;
        left: 0%;
        width: 100%;
        min-height: 80vh;
        overflow-y: scroll;
        font-size: 5vw;
        text-align: justify;
        font-family: 'Khand', sans-serif;
        font-weight: bold;
        background-color: white;
        /* padding: 1vh 1vw 1vh 1vw; */
    }
    .sect-content {
        position: absolute;
        width: 90%;
        top: 1%;
        left: 50%;
        transform: translateX(-50%);
    }
    .tagtag {
        position: absolute;
        color: white;
        font-size: 1vw;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 0%);
        transition: all 200ms ease;
        /* opacity: 0; */
    }
}