.meniu {
    position: fixed;
    top: 0vw;
    left: 0vw;
    z-index: 102;
}

.cerc {
    position: absolute;
    background-color: #ffffff;
    border-radius: 100%;
    z-index: 103;
}


/* chestii pentru meniu mic */

#meniu-scroll {
    display: block;
    height: 7vw;
    width: 7vw;
    margin: 1vw;
    background-color: transparent;
    /* mix-blend-mode: difference; */
}

#border-sageata {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* margin: 1vw; */
    height: 100%;
    width: 100%;
    /* background-color: green; */
    border: 0.3vw solid #d222d2;
    border-radius: 50%;
    z-index: 101;
    /* -webkit-filter: invert(100%);
    filter: invert(100%); */
    /* mix-blend-mode: difference; */
}

#cerc-sageata-scroll {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* margin: 1vw; */
    height: 85%;
    width: 85%;
    /* mix-blend-mode: difference; */
    /* isolation: isolate; */
}

#sageata-meniu-scroll {
    position: absolute;
    top: 0vw;
    left: 0vw;
    height: 100%;
    width: 100%;
    z-index: 104;
    /* border: 2px solid yellow; */
    /* background-blend-mode: darken; */
    /* mix-blend-mode: normal; */
}


/* chestii pentru meniu mare */

#cerc-logo-full {
    top: -40%;
    left: -16%;
    height: 20vw;
    width: 20vw;
}

#logo-meniu-full {
    position: absolute;
    left: 3.2vw;
    top: 8vw;
    margin-top: 1vw;
    margin-left: 0px;
    background-color: transparent;
    z-index: 103;
    width: 76%;
    height: 38%;
}

.logo-elem {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    z-index: inherit;
}

.logo-elem img {
    height: inherit;
    width: inherit;
}

.icon {
    position: absolute;
    z-index: inherit;
    height: 40%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.cerc-text {
    position: absolute;
    top: -12.5vw;
    left: -7.7vw;
    height: 30vw;
    width: 30vw;
    background-color: #d222d2;
    border-radius: 100%;
    z-index: 102;
}

.cerc-text>* {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -3%;
    width: 15%;
    height: 10%;
}

.cerc-text li {
    margin: -2vw;
    border-radius: 100%;
    -webkit-transition: .15s;
    transition: .15s;
    width: 5vw;
    height: 5vw;
    text-overflow: clip;
    list-style-type: none;
}

.cerc-text li a {
    position: absolute;
    display: inline-block;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #ffffff;
    font-family: 'Agency FB Bold', arial;
    font-size: 1vw;
    vertical-align: middle;
    text-align: center;
    display: list-item;
}

.cerc-text li:hover {
    background-color: #9d49a1;
}

.cerc-text>*:nth-of-type(1) {
    -webkit-transform: rotate(-5deg) translate(235%) rotate(5deg);
    transform: rotate(-5deg) translate(235%) rotate(5deg);
}

.cerc-text>*:nth-of-type(2) {
    -webkit-transform: rotate(16deg) translate(235%) rotate(-16deg);
    transform: rotate(16deg) translate(235%) rotate(-16deg);
}

.cerc-text>*:nth-of-type(3) {
    -webkit-transform: rotate(37deg) translate(235%) rotate(-37deg);
    transform: rotate(37deg) translate(235%) rotate(-37deg);
}

.cerc-text>*:nth-of-type(4) {
    -webkit-transform: rotate(58deg) translate(235%) rotate(-58deg);
    transform: rotate(58deg) translate(235%) rotate(-58deg);
}

.cerc-text>*:nth-of-type(5) {
    -webkit-transform: rotate(79deg) translate(235%) rotate(-79deg);
    transform: rotate(79deg) translate(235%) rotate(-79deg);
}

.cerc-text>*:nth-of-type(6) {
    -webkit-transform: rotate(100deg) translate(235%) rotate(-100deg);
    transform: rotate(100deg) translate(235%) rotate(-100deg);
}

.cerc-text>*:nth-of-type(7) {
    -webkit-transform: rotate(121deg) translate(238%) rotate(-121deg);
    transform: rotate(121deg) translate(238%) rotate(-121deg)
}


/* @media only screen and (max-width: 900px) {
    #cerc-sageata-scroll {
        position: absolute;
        top: 1vw;
        left: 1vw;
        height: 13vw;
        width: 13vw;
        background-color: #ffffff;
        border-radius: 100%;
        z-index: 5;
        box-shadow: 1px 1px 5px #484848"

    }
    #cerc-meniu-full {
        position: absolute;
        top: -16vw;
        left: -6.4vw;
        height: 40vw;
        width: 40vw;
        background-color: #ffffff;
        border-radius: 100%;
        z-index: 1;
    }
    #logo-meniu-full {
        position: absolute;
        left: 6.4vw;
        top: 16vw;
        margin-top: 1vw;
        margin-left: 0px;
        background-color: transparent;
        z-index: 2;
        width: 76%;
        height: 38%;
    }
} */

#language {
    position: fixed;
    top: 0px;
    right: 0vw;
    margin: 1vw;
    height: 4vh;
    background-color: transparent;
    mix-blend-mode: difference;
    z-index: 104;
}

#language li {
    display: inline;
    font-family: 'Agency FB Bold', arial;
    font-size: 2vw;
    color: white;
    text-decoration: none;
}

#language li a {
    font-family: 'Agency FB Bold', arial;
    font-size: 2vw;
    color: white;
    text-decoration: none;
}

#language li a:hover {
    -webkit-filter: invert(50%);
    filter: invert(50%);
}

#login {
    position: fixed;
    top: 0%;
    left: -35vw;
    height: 10vw;
    width: 35vw;
    margin-top: 1vw;
    padding: 0%;
    background-color: white;
    border-radius: 20px;
    z-index: 101;
}

.sign-in-out {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 0px;
    margin-right: 2%;
    height: 90%;
    width: 33%;
    border: 0px solid black;
    text-align: center;
    font-family: 'Agency FB Bold', arial;
    font-size: 1vw;
}

button {
    text-decoration: none;
}

.button {
    position: relative;
    display: block;
    margin: 2%;
    border-radius: 5px;
    height: 28%;
    width: 96%;
    text-decoration: none;
    font-size: 1vw;
    font-family: 'Agency FB Bold', arial;
}

.main-btn-action {
    color: white;
    text-decoration: none;
    background-color: #00bd11;
    border: 0.2vw solid #00bd11;
}

.main-btn-action:hover,
.secondary-btn-action:hover {
    color: white;
    background-color: black;
    border: 0.2vw solid black;
    cursor: pointer;
}

.secondary-btn-action {
    color: #00bd11;
    text-decoration: none;
    background-color: white;
    border: 0.2vw solid #00bd11;
}