.quarter-circle {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 0;
    width: 32.9vw;
    padding-bottom: 14.8vw;
    line-height: 75px;
    text-align: center;
    background: white;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 155%;
    border-top-right-radius: 5%;
    font-size: 1.5rem;
    z-index: 2;
}

.meniu-full {
    position: fixed;
    top: 0vw;
    left: 0vw;
    border: 0px solid red;
    height: 15vw;
    width: 21vw;
    z-index: 1;
}

.cerc-meniu-TOP {
    position: absolute;
    top: -10vw;
    left: -4vw;
    height: 25vw;
    width: 25vw;
    background-color: #ffffff;
    border-radius: 100%;
    z-index: 1;
}

#logo-meniu-TOP {
    position: absolute;
    left: 4vw;
    top: 10vw;
    margin-top: 1vw;
    margin-left: 0px;
    background-color: transparent;
    z-index: 2;
    width: 76%;
    height: 38%;
}

#logo-full {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: transparent;
    border: 0px solid black;
    width: 100%;
    height: 100%;
    z-index: inherit;
}

#sageata-meniu-TOP,
#town-TOP,
#cothon-TOP {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    z-index: inherit;
}

.cerc-sageata {
    position: fixed;
    top: -3.75vw;
    left: -2vw;
    height: 12.5vw;
    width: 12.5vw;
    background-color: blue;
    border-radius: 100%;
    z-index: 4;
}

.meniu-scroll {
    display: none;
}

.sageata-meniu-scroll {
    position: absolute;
    top: 0.5vw;
    left: 0.7vw;
    height: 10vw;
    width: 4vw;
    background-color: transparent;
    z-index: 2;
}