.meniu-full {
    /* display: none; */
    position: fixed;
    top: 0vw;
    left: 0vw;
    border: 0px solid red;
    height: 15vw;
    width: 21vw;
    z-index: 1;
}

#cerc-meniu-full {
    position: absolute;
    top: -10vw;
    left: -4vw;
    height: 25vw;
    width: 25vw;
    background-color: #ffffff;
    border-radius: 100%;
    z-index: 1;
}

#logo-meniu-full {
    position: absolute;
    left: 4vw;
    top: 10vw;
    margin-top: 1vw;
    margin-left: 0px;
    background-color: transparent;
    z-index: 2;
    width: 76%;
    height: 38%;
}

#sageata-meniu-TOP,
#town-TOP,
#cothon-TOP {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    z-index: inherit;
}


/* .meniu-scroll {
    display: none;
} */

#cerc-sageata-scroll {
    position: fixed;
    top: -5vw;
    left: -2vw;
    height: 10vw;
    width: 10vw;
    background-color: #ffffff;
    border-radius: 100%;
    z-index: 5;
    box-shadow: 1px 1px 5px #484848
}

#sageata-meniu-scroll {
    position: absolute;
    top: 4.7vw;
    left: 3.3vw;
    height: 57%;
    width: 40%;
    /* border: 2px solid yellow; */
    background-color: transparent;
    z-index: 6;
}