    /* pt itemurile din meniu care isi dau slide din marginea ecranului */
    
    .line {
        position: relative;
        margin: 0% 10% 0% 0%;
        background-color: #aca2b1;
        height: 0.25vh;
        width: 90%;
        z-index: 104;
    }
    
    #pages {
        position: fixed;
        /* bottom: 0%; */
        left: -100%;
        bottom: 0;
        /* margin-top: 30%; */
        width: 100vw;
        height: 60vh;
        /* border: 0px solid black; */
        background-color: transparent;
        z-index: 200;
    }
    
    #pages ul {
        list-style-type: none;
        font-family: 'Agency FB Bold', arial;
        font-size: 3.5vh;
    }
    
    #pages li {
        margin: 2.3%;
        /* border: 0.5vw solid #a1a1a1; */
    }
    
    #pages a {
        color: black;
        text-decoration: none;
    }
    
    #pages a:active,
    #pages a:hover {
        color: #00bd11;
    }
    /* pt butonul de back */
    
    .back {
        position: relative;
        display: inline-block;
        width: 80%;
        height: 7vh;
        margin: 5% 10% -50% 10%;
        /* border: 2px solid black; */
        color: black;
        font-family: 'Agency FB Bold', arial;
        font-size: 3.5vh;
        padding: 0%;
    }
    
    .back div {
        position: relative;
        display: inline;
        top: -40%;
        left: 0%;
        margin-top: 0%;
        margin-bottom: -50%;
        /* transform: translate(0%, -50%); */
        height: auto;
        vertical-align: middle;
        /* border: 3px solid red; */
        font-family: 'Agency FB Bold', arial;
        font-size: 3.5vh;
        color: black;
    }
    
    .back img {
        display: inline;
        position: relative;
        height: 7vh;
        width: auto;
        margin: 0% 2% 0% 0%;
        /* border: 3px solid yellow; */
    }
    
    .back:active,
    .back:hover {
        -webkit-filter: invert(48%) sepia(51%) saturate(4899%) hue-rotate(101deg) brightness(105%) contrast(104%);
        filter: invert(48%) sepia(51%) saturate(4899%) hue-rotate(101deg) brightness(105%) contrast(104%);
    }
    /* pt elementele de la chestia de account */
    
    #login-tlf {
        position: fixed;
        /* bottom: 0%; */
        left: -100%;
        bottom: 0;
        /* margin-top: 40%; */
        width: 100vw;
        height: 70vh;
        /* border: 0px solid black; */
        background-color: transparent;
        z-index: 300;
    }
    
    .sign-in-out {
        position: relative;
        top: 0%;
        /* transform: translate(0, -50%); */
        left: 0%;
        margin-bottom: 40%;
        height: 60%;
        width: 100%;
        border: 0px solid black;
        text-align: center;
        font-family: 'Agency FB Bold', arial;
        font-size: 3.5vh;
    }
    
    button {
        text-decoration: none;
    }
    
    .button {
        position: relative;
        display: block;
        margin: 8%;
        border-radius: 5px;
        height: 20%;
        width: 84%;
        text-decoration: none;
        font-size: 3.5vh;
        font-family: 'Agency FB Bold', arial;
    }
    
    .button p {
        border: none;
        font-size: 3.5vh;
        vertical-align: middle;
        margin: none;
    }
    
    .main-btn-action {
        color: white;
        text-decoration: none;
        background-color: #00bd11;
        border: 1vw solid #00bd11;
    }
    
    .secondary-btn-action {
        color: #00bd11;
        text-decoration: none;
        background-color: transparent;
        border: 1vw solid #00bd11;
    }
    
    .main-btn-action:hover,
    .secondary-btn-action:hover {
        color: white;
        background-color: black;
        border: 1vw solid black;
        cursor: pointer;
    }
    /* @media all and (orientation:portrait) { */
    /* pt cercul de la sageata */
    
    #cerc-sageatatlf {
        position: fixed;
        top: 1vh;
        left: 2vw;
        height: 21vw;
        width: 21vw;
        margin: 0;
        padding: 0;
        z-index: 101;
        overflow: hidden;
        border: 2vw solid #d222d2;
        border-radius: 50%;
        background-color: white;
    }
    /* pt sageata din cerc */
    
    #sageata-meniutlf {
        position: fixed;
        top: 2vh;
        left: 7.3vw;
        height: 21vw;
        width: 21vw;
        z-index: 105;
        /* border-radius: 50%; */
        overflow: hidden;
    }
    
    #bkg-sageata {
        position: absolute;
        top: 0%;
        background-color: white;
        width: 21vw;
        height: 21vw;
        z-index: 101;
        left: -71%;
        /* border: 0px solid black; */
    }
    /* pt celelalte elem din logo */
    
    #town-TOP,
    #cothon-TOP {
        position: fixed;
        top: 2vh;
        left: -42vw;
        height: 21vw;
        width: 42vw;
        z-index: 101;
    }
    
    .logo-elem-tlf img {
        height: inherit;
        /* width: inherit; */
    }
    /* } */
    /* @media all and (orientation:landscape) {
        #cerc-sageatatlf {
            position: fixed;
            top: 1%;
            left: 2%;
            height: 13vw;
            width: 13vw;
            margin: 0;
            padding: 0;
            z-index: 101;
            overflow: hidden;
            border: 1vw solid #d222d2;
            border-radius: 50%;
            background-color: white;
        }
        #sageata-meniutlf {
            position: absolute;
            top: 0vw;
            left: 15.5%;
            height: 11vw;
            width: 22vw;
            z-index: 105;
        }
        #bkg-sageata {
            position: absolute;
            top: 0%;
            background-color: white;
            width: 100%;
            height: 100%;
            z-index: 103;
            left: -71%;
        }
        #town-TOP,
        #cothon-TOP {
            position: absolute;
            top: 0vw;
            left: -170%;
            height: 11vw;
            width: 22vw;
            z-index: 102;
        }
        .logo-elem-tlf img {
            height: inherit;
            width: inherit;
        }
    } */