.section {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.section .title {
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: 'Khand', sans-serif;
    font-weight: bold;
    font-size: 7vw;
    color: white;
    transform: translate(-50%, -50%);
    text-decoration: underline;
    text-decoration-color: #00ff16;
    text-decoration-style: dashed;
}

.section .titlebtn {
    position: absolute;
    top: 70%;
    left: 50%;
    font-size: 2.5vw;
    color: white;
    border-radius: 15px;
    border: solid #00ff16;
    padding: 0.9vw;
    transform: translate(-50%, -50%);
    font-family: 'Montserrat', sans-serif;
}

.section .titlebtn:hover {
    background-color: white;
    color: #290529;
    border: none;
    cursor: pointer;
}

.sliding {
    position: absolute;
    background-color: aliceblue;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 1.3vw;
    width: 45vw;
    height: 43vh;
    padding: 1.6vw;
}

.sliding h1,
.sliding h2,
.sliding h3 {
    font-family: 'Khand', sans-serif;
}

.scroller {
    position: fixed;
    right: 0px;
    top: 50%;
    width: 4vw;
    height: auto;
    mix-blend-mode: difference;
    z-index: 100;
    transform: translateY(-50%);
}

.scroller .link {
    background-color: #bbb;
    border-radius: 15px;
    width: 3vw;
    height: 3vw;
    position: relative;
    margin-top: 2vh;
    transform: rotate(45deg);
    /* mix-blend-mode: difference; */
}

.scroller .link .dot {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 2vw;
    width: 2vw;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
}

.scroller .link .dot:hover,
.scroller .link .dot:active {
    background-color: black;
}

.scroller .link .sect-title {
    position: absolute;
    color: white;
    top: 0;
    right: 0;
    transform: rotate(-45deg) translate(100%, 5vw);
    font-size: 2.5vw;
    text-align: right;
    width: 600%;
    transition: all 0.5s ease;
    cursor: context-menu;
    pointer-events: none;
    font-family: 'Khand', sans-serif;
}

.dot:hover+.sect-title {
    transform: rotate(-45deg) translate(-6vw, 5vw);
    transition: all 0.5s ease;
}

.wrapper {
    width: 100%;
    height: 100%;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    top: 0;
    display: block;
    overflow: hidden;
}

@media screen and (orientation:portrait) {
    .scroller {
        width: 15vh;
    }
    .scroller .link {
        width: 4vh;
        height: 4vh;
        left: 10%;
    }
    .scroller .link .dot {
        width: 2.5vh;
        height: 2.5vh;
    }
    .section {
        overflow-x: auto;
        overflow-y: hidden;
    }
    .section .title {
        font-size: 15vw;
    }
    .section .titlebtn {
        font-size: 5vw;
    }
    .sliding {
        font-size: 5vw;
        height: -moz-fit-content;
        height: -webkit-fit-content;
        height: fit-content;
        position: relative;
        margin-left: 10vw;
        margin-right: 10vw;
        margin-bottom: 20px;
        width: 80vw;
    }
}