.section {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.section .title {
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: 'Agency FB Bold', arial;
    font-size: 7vw;
    color: aliceblue;
    transform: translate(-50%, -50%);
}

.section .titlebtn {
    position: absolute;
    top: 70%;
    left: 50%;
    font-size: 3vw;
    color: aliceblue;
    border-radius: 15px;
    border: solid aliceblue;
    padding: 0.9vw;
    transform: translate(-50%, -50%);
}

.section .titlebtn:hover {
    background-color: aliceblue;
    color: black;
    cursor: pointer;
}

.section .sliding {
    position: absolute;
    background-color: aliceblue;
    font-family: 'Agency FB', arial;
    font-size: 2vw;
    width: 45vw;
    height: 43vh;
    padding: 1.6vw;
}

.scroller {
    position: fixed;
    right: 0px;
    top: 50%;
    width: 8vh;
    height: auto;
    mix-blend-mode: difference;
    z-index: 4;
    transform: translateY(-50%);
}

.scroller .link {
    background-color: #bbb;
    border-radius: 15px;
    width: 7vh;
    height: 7vh;
    position: relative;
    margin-top: 2vh;
    transform: rotate(45deg);
    /* mix-blend-mode: difference; */
}

.scroller .link .dot {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 5vh;
    width: 5vh;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
}

.scroller .link .dot:hover {
    background-color: black;
}